---
import { formatDate } from "../js/helpers";
import ImagePB from "./ImagePB.astro";
const event = Astro.props;
---

<article
  class="group col-span-4 grid grid-cols-[24px_1fr] grid-rows-[200px_48px_1fr] lg:grid-cols-[2fr_11fr]"
>
  <ImagePB
    record={event}
    field="imgFile"
    alt={event.imgAlt}
    classPicture="duotone col-start-1 row-start-1 col-span-2 row-span-2 group-hover:before:bg-black"
    classImg="group-hover:grayscale-0 group-hover:mix-blend-normal"
  />
  <h3
    class="z-1 col-start-2 row-start-1 my-6 mr-4 self-end font-mono text-3xl text-white"
  >
    <a href="#">{event.title}</a>
  </h3>
  <div
    class="z-2 col-span-1 col-start-2 row-span-2 row-start-2 space-y-4 bg-white p-6"
  >
    <p class="uppercase">{formatDate(event.date)}</p>
    <p>{event.excerpt}</p>
    <a class="inline-block border-b-2 border-black uppercase" href="#"
      >Plus d'info</a
    >
  </div>
</article>
